*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  color: #FFF;
}
html{
  font-size: 62.5%; /*(10px => 1rem)*/
}
body{
  font-family: 'Changa', sans-serif;
  box-sizing: border-box;
  background-color: #000;
  margin: 2%;
}/* css reset */

.icon-list{
  display: flex;
  flex-direction: row;
}
.mood-icon{
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -2px;
  flex-grow: 3;
}
.icon-list img{
  width: 50px;
  height: 50px;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
.icon-list a{
align-items: center;
}
.search{
height: 60px;
}
.search-box{
  width: 90%;
  height: 30px;
  display: inline-block;
}
.search-image{
  width: 5%;
  height: 36px;
  display: inline-block;

  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-32%);
}
.search-image img{
  height: 45px;
}



















































/* media queries */
