*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}
html{
  font-size: 62.5%; /*(10px => 1rem)*/
}
body{
  font-family: 'Changa', sans-serif;
  box-sizing: border-box;
  background-color: #000;
}
/* css reset */
.main-header{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 8vh;
}
.main-header-list{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  vertical-align: middle;
}
.mood-icon{
  width: 25%;
  margin: 0;
  float: left;
  flex-grow: 3;
}
.mood-icon a{
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
}
.main-header-list img{
  height: 125px;
  width: 125px;
}
.main-header-list :nth-child(n+2){
  padding-left: 12px;
  margin: 0 auto;
}
